li#toplevel_page_emsb_admin_page .dashicons-admin-generic:before {
    content: "\f484" !important;
  }
  .emsb-pending-bookings-count {
    display: flex;
    min-width: 18px;
    height: 18px;
    background-color: #00ad37;
    padding: 3px;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: 5px;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    align-items: center;
    justify-content: center;
}