/* alegreya-sans-100 - latin */
@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../../fonts/alegreya-sans-v10-latin-100.eot'); /* IE9 Compat Modes */
    src: local('Alegreya Sans Thin'), local('AlegreyaSans-Thin'),
         url('../../fonts/alegreya-sans-v10-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/alegreya-sans-v10-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/alegreya-sans-v10-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../../fonts/alegreya-sans-v10-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/alegreya-sans-v10-latin-100.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
  }
  /* alegreya-sans-300 - latin */
  @font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/alegreya-sans-v10-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'),
         url('../../fonts/alegreya-sans-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/alegreya-sans-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/alegreya-sans-v10-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../../fonts/alegreya-sans-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/alegreya-sans-v10-latin-300.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
  }

  

.em-services-container,
.em-reservation-process-container {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
.em-services-container,
.em-reservation-process-container { 
    overflow-x: visible !important;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    
}
.em-services-container{
    opacity: 1;
    height: 100%;
    transform: scale(1); 
}
.em-reservation-process-container { 
    opacity: 0;
    height: 0;
    transform: scale(0.8); 
}
.em-reservation-div-position{
    display: block;
}
.emsb-show-form-container{
    transform: scale(1); 
    display: block;
}

article.em-service {
    padding: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(49, 46, 255, 0.15);
    margin-bottom: 30px;
    border-radius: 5px;
}

.em-service img, .em-selected-service img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: .09px solid gray;
}
.em-service-excerpt {
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}
.em-service-excerpt-info {
    margin-left: 15px;
}
.em-service-excerpt-info h4 {
    color: gray;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 10px 0;
    letter-spacing: 0.05px;
    line-height: 1;
}
.em-service-excerpt-info p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #767676;
}
.em-service.viewed .d-flex.align-items-center {
    align-items: flex-start !important;
}

article.em-service main {
    display: none;
}

.em-reservation-process-container {
    position: relative;
    background-color: #fff;
}
.em-reservation-div-position {
    top: 50px;
    background-color: #fff;
    padding: 20px 50px 50px 50px;
    width: 800px;
    margin: 50px auto;
    border: 1px solid #d5d5d5d9;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(49, 46, 255, 0.15);
    margin-bottom: 100px;
}

.am-or-pm button.active {
    background: rgba(49, 46, 255, 0.6) !important;
    border: 1px;
    color: #fff !important;
}
.em-reservation-process-container #amButton span, .em-reservation-process-container #pmButton span {
    color: rgb(131, 130, 255);
}

.em-reservation-process-container .am-or-pm button.active span {
    color: #fff !important;
}

.am-or-pm .btn-secondary:not(:disabled):not(.disabled).active:focus, 
.am-or-pm .btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.02rem rgba(0, 123, 255, 0.54);
}
.am-or-pm .btn-secondary:not(:disabled):not(.disabled).active, 
.am-or-pm .btn-secondary:not(:disabled):not(.disabled):active {
    box-shadow: 0 0 0 0.02rem rgba(0, 123, 255, 0.54);
}

/* Selected Elements Container  */
.em-selected-all-wrapper {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px 0;
}

.em-selected-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px 10px 0px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.8);
}
.em-selected-service .em-service-excerpt {
    width: 70%;
}
.em-selected-service .em-service-excerpt img {
    width: 65px;
    height: 65px;
    background-size: cover;
    transform-origin: 100% 0%;
    transition: transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: scale(1.0) translatex(0rem);
    margin: 10px 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: .09px solid gray;
}
.em-selected-all-wrapper .em-service-excerpt-info h4 {
    font-family: inherit;
    font-size: 30px;
    font-weight: 500;
    opacity: .75;
    line-height: 40px;
    color: #5451e0;
    margin: 0;
}
.em-selected-all-wrapper .em-service-excerpt-info p {
    margin-bottom: 0px;
    font-size: 13px;
    display: none;
}

.em-timer {
    display: none;
    position: relative;
}

.em-selected-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 0.8);
}
.em-change-date-btn {
    display: none;
}



.em-reservation-calendar.nao-month td, .em-reservation-calendar.nao-month th {
    padding: 10px 0;
    border: 0;
    width: 40px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .em-reservation-calendar .month-head>div,
  .em-reservation-calendar .month-head>button {
    padding: 15px;
  }
.em-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.em-selected-time-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 0.8);
}
.em-change-time-slot-btn {
    display: none;
}

/* Booking Form  */
.em-booking-form-container {
    display: none;
    width: 70%;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 30px auto 30px 70px;
}

/* Booking Progress  */
.em-steps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.em-step {
    width: 24%;
}

.em-step.active span {
    background-color: #8382ff;
}

.em-step span {
    display: block;
    height: 15px;
    background: #bec3c7;
    margin-bottom: 10px;
}

.em-step.em-step-one span {
    border-radius: 50px 0 0 50px;
}
.em-step.em-step-four span {
    border-radius: 0px 50px 50px 0px;
}

/* Styling  */
.em-selected-all-wrapper .date, .em-selected-all-wrapper .time-slot {
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    opacity: .75;
    line-height: 30px;
    color: #5451e0;
    margin: 0;
    margin-left: 75px;
}

.em-selected-date-wrapper {
    display: none;
}
.em-selected-time-slot-wrapper {
    display: none;
}

.em-timer li.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.em-reservation-process-container .btn, .em-services-container .btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: rgb(131, 130, 255);
    /* background-color: rgb(248, 249, 250); */
    /* border-color: rgb(248, 249, 250); */
    transition: all .7s;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}
.em-reservation-process-container .button:hover,
.em-reservation-process-container button:hover,
.em-services-container .button:hover,
.em-services-container button:hover,
.em-reservation-process-container .button:focus,
.em-reservation-process-container button:focus,
.em-services-container .button:focus,
.em-services-container button:focus {
    background: #1110;
    cursor: pointer;
    outline-offset: 0;
    outline: 0;
    box-shadow: none;
}
.em-reservation-process-container .btn-light:hover, .em-services-container .btn-light:hover {
    color: rgb(131, 130, 255);
    background-color: rgb(231, 231, 231);
    border-color: rgb(231, 231, 231);
    transition: all .7s;
}
.em-reservation-process-container .em-change-service-btn {
    width: 150px;
    text-align: right;
}
.em-select-slot-button {
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
}

.em-reservation-process-container .btn-light:not(:disabled):not(.disabled).active, 
.em-reservation-process-container .btn-light:not(:disabled):not(.disabled):active, 
.em-reservation-process-container .show > .btn-light.dropdown-toggle,
.em-services-container .btn-light:not(:disabled):not(.disabled).active, 
.em-services-container .btn-light:not(:disabled):not(.disabled):active, 
.em-services-container .show > .btn-light.dropdown-toggle {
    color: rgb(131, 130, 255);
    background-color: rgb(231, 231, 231);
    border-color: rgb(231, 231, 231);
    transition: all .7s;
}


.em-booking-form-container input#emsb_user_fullName, .em-booking-form-container input#emsb_user_email, .em-booking-form-container input#emsb_user_telephone {
    font-family: inherit;
    font-size: 25px;
    line-height: 25px !important;
    font-weight: 100;
    margin-bottom: 0;
    border: none !important;
    border-bottom: 0.8px solid rgba(49, 46, 255, 0.2) !important;
    outline: none !important;
    padding: 0px !important;
    color: #312eff;
    border-radius: 0 !important;
    background: #fff !important;
    height: 40px;
}
.em-booking-form-container .form-control:focus {
    color: #8382ff;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
    border-bottom: 1px solid rgba(49, 46, 255, 0.6);
}

.em-booking-form-container .form-control.is-valid:focus, .em-booking-form-container .was-validated .form-control:valid:focus {
    border-color: #8382ff;
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}

.em-booking-form-container .form-control.is-invalid:focus, .em-booking-form-container .was-validated .form-control:invalid:focus {
    border-color: #8382ff;
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}

.em-reservation-process-container .btn-light.em-confirm-booking-button {
    color: rgb(255, 255, 255);
    background-color: rgb(131, 130, 255);
    border-color: rgb(131, 130, 255);
    transition: all .7s;
}
.em-calendar-wrapper thead.month-week tr th {
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 300;
}
.em-calendar-wrapper .em-reservation-calendar .month-head>div, .em-calendar-wrapper .em-reservation-calendar .month-head>button {
    padding: 15px;
    color: #9b9b9b;
}
.em-calendar-wrapper .nao-month td.today {
    box-shadow: 0 0 0 2px #ffffff inset;
    overflow: hidden;
    background-color: #b9ffc9;
}
.em-calendar-wrapper .nao-month td.active {
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #c5c5ff;
    color: #fff;
    overflow: hidden;
}

.em-timer .list-group-item {
    font-size: 16px;
    line-height: 16px;
    position: relative;
    margin: 0px;
    padding: 7px 0px 7px 80px;
    margin-bottom: 0;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.em-timer .list-group-item label {
    display: inline-block;
    margin-bottom: 0;
}
.em-timer .am-or-pm {
    border-bottom: 1px solid rgba(202, 202, 202, 0.6);
    margin-bottom: 15px;
    padding-left: 80px;
}

.em-timer .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.em-timer .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.em-select-slot-button.booked {
    cursor: not-allowed;
    background-color: rgb(252, 252, 252);
    border-color: rgb(252, 252, 252);
    color: rgb(255, 94, 0);
}
.em-reservation-process-container #amButton, .em-reservation-process-container #pmButton {
    color: rgb(131, 130, 255);
    background-color: rgb(248, 249, 250);
    border-color: rgb(248, 249, 250);
    transition: all .7s;
    font-weight: 300;
    font-size: 14px;
    width: 150px;
    text-align: center;
}
.em-reservation-process-container .btn-light:hover, .em-services-container .btn-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}
.em-selected-all-wrapper .em-service-excerpt-info p.em-reservation-service-price {
    display: block;
    margin: 5px 0px;
    font-size: 16px;
    color: #5451e0;
    line-height: 16px;
}
.emsb-service-date-unavailable {
    cursor: not-allowed !important;
    background-color: #00dcff1c !important;
    color: rgb(0, 0, 0) !important;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset !important;
}
.off-day {
    cursor: not-allowed !important;
    background-color: rgb(255, 230, 230) !important;
    color: red !important;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset !important;
}
.passed-day {
    cursor: not-allowed !important;
    background-color: rgb(241, 241, 241) !important;
    color: rgb(225, 225, 225) !important;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset !important;
}
.already-booked {
    cursor: not-allowed !important;
    background-color: #ffedb9 !important;
    color: #000000 !important;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset !important;
}
.holiday {
    cursor: not-allowed !important;
    background-color: #ffc107!important;
    color: rgb(255, 255, 255) !important;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset !important;
}
.em-service-meta-info {
    display: none;
}
.em-calendar-wrapper {
    position: relative;
}
.slots-container {
    position: relative;
}
.emsb-loading-gif {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    opacity: .9;
    
}

.emsb-loading-gif img {
    width: 50px;
}

.emsb-calender-loading-gif {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    display: none;
    opacity: .9;
}
.emsb-calender-loading-gif img {
    width: 50px;
}
#emsb_booking_ticket {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#emsb_booking_ticket {
    overflow-x: visible !important;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    background-color: #fff;
    margin: 0 auto;
    padding: 10% 15%;
    z-index: 9999;
}
#emsb_booking_ticket .emsb-site-name {
    font-size: 40px;
    font-weight: 700;
    opacity: 1;
    color: #000000;
    background-color: #ffda69;
    margin: 15px 0 15px 0;
    padding: 15px;
}
#emsb_booking_ticket h1:not(.site-title):before, h2:before {
    background: #767676;
    content: none !important;
    display: block;
    height: 2px;
    margin: 1rem 0;
    width: 1em;
}

#emsb_booking_ticket .em-selected-all-wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(131, 130, 255, 0.5);
}
#emsb_booking_ticket img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    border-radius: 0;
    width: 150px;
    height: 150px;
}

#emsb_booking_ticket .em-selected-all-wrapper {
    text-align: center;
    padding: 20px 50px 75px 50px;
}

#emsb_booking_ticket .em-get-selected-service.em-service-excerpt.d-flex.align-items-center {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#emsb_booking_ticket .em-service-excerpt-info {
    width: 100%;
}

#emsb_booking_ticket .em-selected-date.d-flex.align-items-center {
    text-align: center;
    width: 100%;
    justify-content: center;
    border-bottom: 0;
    padding-bottom: 0;
}

#emsb_booking_ticket .em-selected-time-slot-wrapper {
    justify-content: center;
    width: 100%;
}

#emsb_booking_ticket .em-selected-time-slot.d-flex.align-items-center {
    justify-content: center;
    border-bottom: 0;
    padding: 0;
}
#emsb_booking_ticket .em-selected-all-wrapper .em-service-excerpt-info h4 {
    font-size: 30px;
    opacity: 1;
    line-height: 40px;
    color: #000000;
    font-weight: bold;
    margin: 0;
}
#emsb_booking_ticket .em-selected-all-wrapper .em-service-excerpt-info p.em-reservation-service-price {
    margin: 0;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}
#emsb_booking_ticket .em-selected-all-wrapper .date, #emsb_booking_ticket .em-selected-all-wrapper .time-slot {
    font-size: 20px;
    opacity: 1;
    color: #000000;
    margin-left: 0;
    font-weight: bold;
}
.emsb-booking-ticket-container {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
}
#emsb_booking_ticket p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -5px;
}
#emsb_booking_ticket  .em-service-excerpt-info {
    margin-left: 0;
}
.emsb-ticket-button-wrapper {
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 40%;
}
#emsb_booking_ticket h4 {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}
#emsb_booking_ticket .em-service-excerpt-info p {
    color: #000000;
}
#emsb_booking_ticket .emsb-booking-info h4 {
    font-weight: 700;
    border-bottom: 1px solid #d0d0d0;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
}
.emsb-ticket-button {
    background-color: #ffda69 !important;
    color: black;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    margin: 0 10px;
}
#emsb_booking_ticket .emsb-site-name p {
    font-size: 16px;
}
#emsb-service-price {
    font-weight: 600 !important;
}

/* Single Page  */

.emsb-single-service-page .em-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    justify-content: left;
}
 .emsb-single-service-page article.em-service {
    padding: 20px;
    overflow: hidden;
    box-shadow: none;
    margin-bottom: 25px;
}
.emsb-single-service-page .em-service img {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    border: .09px solid gray;
    display: flex;
    align-self: flex-start;
    margin-top: 5px;
}
.emsb-single-service-page .em-service-excerpt-info {
    margin-left: 30px;
    margin-bottom: 45px;
}

.emsb-plugin-container button.btn.em-select-service-button {
    transition: all .7s;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-radius: 3px;
    text-align: left;
    font-size: 16px;
}

.emsb-plugin-container .em-confirm-booking-button {
    width: 175px !important;
}

.emsb-single-service-page .em-service-excerpt {
    width: 100%;
}
.emsb-single-service-page .em-selected-service .em-select-service-button {
    display: none;
}
.emsb-single-service-page .em-select-service-button {
    margin-bottom: 0 !important;
    margin-top: 25px;
    width: auto;
}
.emsb-single-service-page .emsb-service-description {
    font-size: 16px;
}
.emsb-single-service-page .em-selected-service .em-service-excerpt-info {
    margin-left: 15px;
    margin-bottom: 0;
}

/* Pagination */

.emsb-archive-pagination {
    margin: 30px 0;
    padding: 20px 0;
    overflow: hidden;
}

.emsb-archive-pagination .page-numbers {
    padding: 10px;
}

.emsb-single-page-pagination {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emsb-single-page-pagination .emsb-next-prev {
    padding: 0px;
    margin: 15px;
}

.emsb-single-page-pagination .emsb-next-prev a {
    margin: 0 5px;
    font-size: 16px;
    color: gray;
}




/* Responsiveness */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 1023.98px) { 
    .em-reservation-div-position {
        width: 90%;
    }

 }

@media (max-width: 767.98px) { 
    .em-service {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .em-service .em-select-service-button {
        margin-left: 145px;
    }
    .em-selected-all-wrapper .em-service-excerpt-info h4 {
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }
    .em-selected-all-wrapper .date, .em-selected-all-wrapper .time-slot {
        font-size: 20px;
        opacity: .75;
        line-height: 20px;
    }
    .em-calendar-wrapper .em-reservation-calendar .month-head>button {
        padding: 15px 30px;
        color: #9b9b9b;
        width: 30px;
    }


 }

 @media (max-width: 575.98px) { 
    
    .em-service {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .em-service .em-service-excerpt {
        display: flex;
        flex-direction: row;
        padding-right: 5px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .em-service .em-select-service-button {
        margin-left: 0;
        margin-top: 5px;
        color: rgb(255, 255, 255);
        background-color: #8382ff;
        border-color: rgb(255, 255, 255);
        transition: all .7s;
        font-weight: 300;
    }
    .em-reservation-div-position {
        padding: 20px 20px;
    }
    .em-selected-service {
        flex-direction: column;
        padding-bottom: 0;
    }
    .em-selected-service .em-service-excerpt {
        width: 100%;
        flex-direction: column;
    }
    .em-service-excerpt-info {
        margin-left: 0;
        text-align: center;
    }
    .em-steps-container {
        font-size: 8px;
    }
    .em-steps-container .em-step label {
        display: none;
    }
    .em-selected-date, .em-selected-time-slot {
        flex-direction: column;
        padding-bottom: 0;
    }
    .em-selected-all-wrapper .date, .em-selected-all-wrapper .time-slot {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
        margin-left: 0;
    }
    .em-reservation-process-container .btn {
        width: auto;
    }
    .em-reservation-process-container .btn-light {
        color: rgb(131, 130, 255);
        background-color: rgba(248, 249, 250, 0);
        border-color: rgba(248, 249, 250, 0);
        transition: all .7s;
    }
    .em-timer .am-or-pm {
        text-align: center;
        padding-left: 0;
    }
    .em-booking-form-container {
        width: 100%;
        margin: 30px auto;
    }
    .em-booking-form-container input {
        font-size: 20px;
        font-weight: 300;
        opacity: .8;
    }
    .em-reservation-process-container #amButton, .em-reservation-process-container #pmButton {
        margin: 5px 0px !important;
    }
    .em-reservation-process-container .btn-light:hover, .em-reservation-process-container .btn-light:focus {
        color: rgb(131, 130, 255);
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        transition: all .7s;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
    }
    
    .em-reservation-process-container .btn-light:not(:disabled):not(.disabled).active, 
    .em-reservation-process-container .btn-light:not(:disabled):not(.disabled):active, 
    .em-reservation-process-container .btn-light:not(:disabled):not(.disabled).focus, 
    .em-reservation-process-container .btn-light:not(:disabled):not(.disabled):focus, 
    .em-reservation-process-container .show > .btn-light.dropdown-toggle {
        color: rgb(131, 130, 255);
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        transition: all .7s;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
    }
    .em-timer li.list-group-item {
        margin: 0;
        padding: 5px 0;
    }
    .em-select-slot-button.booked {
        cursor: not-allowed;
        background-color: rgb(252, 252, 252);
        border-color: rgb(252, 252, 252);
        color: rgb(255, 94, 0);
    }
    .nao-month .month-head {
        width: 100%;
    }
    .em-calendar-wrapper .em-reservation-calendar .month-head>button {
        padding: 15px 7px;
    }
    .nao-month table {
        width: 100%;
        margin: 0 auto;
    }
    .em-reservation-calendar.nao-month td {
        padding: 10px 5px;
    }
    .nao-month th, .nao-month td {
        width: 20px;
    }
    .emsb-booking-ticket-container {
        position: fixed;
        height: 100%;
    }
    #emsb_booking_ticket {
        padding: 5% 5% !important;
    }
    .emsb-ticket-button-wrapper {
        text-align: center;
        position: absolute;
        bottom: 10vh;
        left: 5%;
    }
    .emsb-ticket-button {
        margin: 0;
    }
    #emsb_booking_ticket .em-service-excerpt-info {
        margin-left: 0;
        text-align: left;
    }
    #emsb_booking_ticket .emsb-site-name {
        font-size: 25px;
        margin: 5px 0;
        padding: 15px;
    }
    #emsb_booking_ticket h4 {
        margin: 15px 0 0 0;
        font-size: 20px;
    }
    #emsb_booking_ticket p {
        font-size: 14px;
        margin-bottom: 0px;
    }
    #emsb_booking_ticket .emsb-site-name h4 {
        margin: 0;
        font-size: 25px;
    }
    #emsb_booking_ticket .emsb-booking-info h4 {
        padding-bottom: 5px;
        width: 80%;
    }
    .emsb-ticket-button-wrapper h4 {
        font-size: 18px;
    }

    

 }

 @media (max-width: 349.98px) { 
    .nao-month .month-head {
        width: 90%;
    }
    .nao-month table {
        width: 90%;
        margin: 0;
    }

  }